{block content}
	<h1>Flower Tracker </h1>
	<p>Vítejte na stránce Flower Tracker!</p>
	<p>	Děkujeme, že jste se rozhodli využívat naši službu pro sledování květin.</p>
	<p>	Můžete začít přidávat své květiny, prohlížet informace o nich a sdílet své zážitky s ostatními uživateli.</p>
	<p>	Pokud máte nějaké otázky nebo potřebujete pomoc, neváhejte se na nás obrátit.</p>
	<p>	Přejeme Vám příjemný pobyt na stránce Flower Tracker!</p>
	<img src="www/images/flower.png">