# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
4iz278_semestral_work_v2.iml
modules.xml
php.xml
vcs.xml
